USE [HospitalCloud_Web]
GO
/****** Object:  Table [dbo].[VisitTrans]    Script Date: 03/04/2021 12:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VisitTrans](
	[SNo] [int] IDENTITY(1,1) NOT NULL,
	[EncBranchId] [varchar](1024) NULL,
	[EncPatientId] [varchar](1024) NOT NULL,
	[EncDateOFVisit] [varchar](1024) NULL,
	[EncDisease] [varchar](1024) NULL,
	[EncTreatment] [varchar](1024) NULL,
	[EncCharge] [varchar](1024) NULL,
	[EncDoctor] [varchar](1024) NULL,
	[EncPlace] [varchar](1024) NULL,
 CONSTRAINT [PK_VisitTrans] PRIMARY KEY CLUSTERED 
(
	[SNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[VisitTrans] ON
INSERT [dbo].[VisitTrans] ([SNo], [EncBranchId], [EncPatientId], [EncDateOFVisit], [EncDisease], [EncTreatment], [EncCharge], [EncDoctor], [EncPlace]) VALUES (2, N'R92a1xA5hys=', N'zPtoafibR8s=', N'3JFk5ed4Y5LZiG7lb+j5dmo3Q3fYaZnM', N'6ypD9m260LQ=', N'/iOkVfFi/UKFMFVXdmULag==', N'OM336c65hEN97u2QCMQKcg==', N'ZvWK8wTfJ9h65++bZ3x8vQ==', N'dn0X0aJ1sUs=')
INSERT [dbo].[VisitTrans] ([SNo], [EncBranchId], [EncPatientId], [EncDateOFVisit], [EncDisease], [EncTreatment], [EncCharge], [EncDoctor], [EncPlace]) VALUES (3, N'R92a1xA5hys=', N'49yq9cZx0b8=', N'3JFk5ed4Y5LZiG7lb+j5dmo3Q3fYaZnM', N'6ypD9m260LQ=', N'/iOkVfFi/UKFMFVXdmULag==', N'aH4r+pfd8LC5zw2+mtA/lQ==', N'ZvWK8wTfJ9h65++bZ3x8vQ==', N'dn0X0aJ1sUs=')
INSERT [dbo].[VisitTrans] ([SNo], [EncBranchId], [EncPatientId], [EncDateOFVisit], [EncDisease], [EncTreatment], [EncCharge], [EncDoctor], [EncPlace]) VALUES (4, N'R92a1xA5hys=', N'IOyhW2q3Pp0=', N'3JFk5ed4Y5LZiG7lb+j5dmo3Q3fYaZnM', N'6ypD9m260LQ=', N'/iOkVfFi/UKFMFVXdmULag==', N'OM336c65hEN97u2QCMQKcg==', N'ZvWK8wTfJ9h65++bZ3x8vQ==', N'dn0X0aJ1sUs=')
SET IDENTITY_INSERT [dbo].[VisitTrans] OFF
/****** Object:  Table [dbo].[UserCredentials]    Script Date: 03/04/2021 12:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCredentials](
	[SNo] [int] NOT NULL,
	[UserType] [text] NULL,
	[UserName] [text] NULL,
	[Password] [text] NULL,
	[LastLoggedTime] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[UserCredentials] ([SNo], [UserType], [UserName], [Password], [LastLoggedTime]) VALUES (5, N'BTarCeA+X8o=', N'175IRm+s2xs=', N'2QqoAkhBE/k=', NULL)
INSERT [dbo].[UserCredentials] ([SNo], [UserType], [UserName], [Password], [LastLoggedTime]) VALUES (6, N'BTarCeA+X8o=', N'175IRm+s2xs=', N'2QqoAkhBE/k=', NULL)
INSERT [dbo].[UserCredentials] ([SNo], [UserType], [UserName], [Password], [LastLoggedTime]) VALUES (7, N'60hVA4+dQcn/Jr+nBk6ddg==', N'7OSSXXzXtOM=', N'7OSSXXzXtOM=', NULL)
/****** Object:  Table [dbo].[Receipt]    Script Date: 03/04/2021 12:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Receipt](
	[SNo] [int] IDENTITY(1,1) NOT NULL,
	[EncBranchId] [varchar](1024) NULL,
	[EncPatientId] [varchar](1024) NOT NULL,
	[EncDateOfReceipt] [varchar](1024) NULL,
	[EncRemarks] [varchar](1024) NULL,
	[EncChequeNo] [varchar](1024) NULL,
	[EncCharge] [varchar](1024) NULL,
	[EncDoctor] [varchar](1024) NULL,
	[EncPlace] [varchar](1024) NULL,
 CONSTRAINT [PK_Receipt] PRIMARY KEY CLUSTERED 
(
	[SNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Receipt] ON
INSERT [dbo].[Receipt] ([SNo], [EncBranchId], [EncPatientId], [EncDateOfReceipt], [EncRemarks], [EncChequeNo], [EncCharge], [EncDoctor], [EncPlace]) VALUES (2, N'O8eNNeo5nvE=', N'175IRm+s2xs=', N'f4ocQuEQxMlBQ4k/6dR93Q==', N'G9vqPaDvh7D4zJYpHluoQg==', N'rsggvTqkCvQ=', N'aXikSY+t9AM=', N'wv4X4OXzy1BDxHakO14BoA==', N'JsYdB7/jtyo=')
INSERT [dbo].[Receipt] ([SNo], [EncBranchId], [EncPatientId], [EncDateOfReceipt], [EncRemarks], [EncChequeNo], [EncCharge], [EncDoctor], [EncPlace]) VALUES (3, N'O8eNNeo5nvE=', N'Zo4Yyl/49BI=', N'f4ocQuEQxMlBQ4k/6dR93Q==', N'G9vqPaDvh7D4zJYpHluoQg==', N'rsggvTqkCvQ=', N'6Y7NrkgIPZs=', N'wv4X4OXzy1BDxHakO14BoA==', N'JsYdB7/jtyo=')
INSERT [dbo].[Receipt] ([SNo], [EncBranchId], [EncPatientId], [EncDateOfReceipt], [EncRemarks], [EncChequeNo], [EncCharge], [EncDoctor], [EncPlace]) VALUES (4, N'O8eNNeo5nvE=', N'4OWgtSG5MHg=', N'f4ocQuEQxMlBQ4k/6dR93Q==', N'G9vqPaDvh7D4zJYpHluoQg==', N'rsggvTqkCvQ=', N'aXikSY+t9AM=', N'wv4X4OXzy1BDxHakO14BoA==', N'JsYdB7/jtyo=')
SET IDENTITY_INSERT [dbo].[Receipt] OFF
/****** Object:  Table [dbo].[Prescription]    Script Date: 03/04/2021 12:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Prescription](
	[SNo] [int] IDENTITY(1,1) NOT NULL,
	[EncBranchId] [varchar](1024) NULL,
	[EncPatientId] [varchar](1024) NOT NULL,
	[EncDateOfPrescription] [varchar](1024) NULL,
	[EncAllTablets] [varchar](1024) NULL,
	[EncRemarks] [varchar](1024) NULL,
	[EncCharge] [varchar](1024) NULL,
	[EncDoctor] [varchar](1024) NULL,
	[EncPlace] [varchar](1024) NULL,
 CONSTRAINT [PK_Prescription] PRIMARY KEY CLUSTERED 
(
	[SNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Prescription] ON
INSERT [dbo].[Prescription] ([SNo], [EncBranchId], [EncPatientId], [EncDateOfPrescription], [EncAllTablets], [EncRemarks], [EncCharge], [EncDoctor], [EncPlace]) VALUES (2, N'O8eNNeo5nvE=', N'175IRm+s2xs=', N'f4ocQuEQxMmqT52Mc5nbMmo/Ft+ZxKDT', N'Cd+YsSiDqK4uOMGdKrsoFWVedfEkflxL', N'rsggvTqkCvQ=', N'zXFErk/CugQ=', N'wv4X4OXzy1BDxHakO14BoA==', N'JsYdB7/jtyo=')
INSERT [dbo].[Prescription] ([SNo], [EncBranchId], [EncPatientId], [EncDateOfPrescription], [EncAllTablets], [EncRemarks], [EncCharge], [EncDoctor], [EncPlace]) VALUES (3, N'O8eNNeo5nvE=', N'Zo4Yyl/49BI=', N'f4ocQuEQxMmqT52Mc5nbMmo/Ft+ZxKDT', N'Cd+YsSiDqK4uOMGdKrsoFWVedfEkflxL', N'rsggvTqkCvQ=', N'zXFErk/CugQ=', N'wv4X4OXzy1BDxHakO14BoA==', N'JsYdB7/jtyo=')
INSERT [dbo].[Prescription] ([SNo], [EncBranchId], [EncPatientId], [EncDateOfPrescription], [EncAllTablets], [EncRemarks], [EncCharge], [EncDoctor], [EncPlace]) VALUES (4, N'O8eNNeo5nvE=', N'4OWgtSG5MHg=', N'f4ocQuEQxMmqT52Mc5nbMmo/Ft+ZxKDT', N'Cd+YsSiDqK4uOMGdKrsoFbmtv4/j2ocO', N'rsggvTqkCvQ=', N'o6fm2eID4K0=', N'wv4X4OXzy1BDxHakO14BoA==', N'JsYdB7/jtyo=')
SET IDENTITY_INSERT [dbo].[Prescription] OFF
/****** Object:  Table [dbo].[Patients]    Script Date: 03/04/2021 12:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Patients](
	[BranchId] [varchar](20) NOT NULL,
	[PatientId] [varchar](20) NOT NULL,
	[PatientType] [varchar](20) NOT NULL,
	[CustomerID] [varchar](20) NULL,
	[Name] [varchar](50) NOT NULL,
	[Sex] [varchar](10) NOT NULL,
	[DOB] [datetime] NOT NULL,
	[HealthCardIdIfAny] [varchar](50) NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[Nationality] [varchar](50) NOT NULL,
	[Occupation] [varchar](100) NOT NULL,
	[AnnualIncome] [numeric](18, 2) NOT NULL,
	[FatherName] [varchar](30) NOT NULL,
	[GuardianName] [varchar](30) NOT NULL,
	[Relationship] [varchar](30) NOT NULL,
	[OperatingInstruction] [varchar](300) NOT NULL,
	[Street] [varchar](50) NULL,
	[Address] [varchar](200) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](30) NULL,
	[PinCode] [varchar](6) NULL,
	[Telephone] [varchar](20) NULL,
	[Fax] [varchar](20) NULL,
	[Mobile] [varchar](12) NULL,
	[EMailID] [varchar](50) NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[BranchId] ASC,
	[PatientId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HospitalAdminUsers]    Script Date: 03/04/2021 12:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HospitalAdminUsers](
	[UserName] [text] NOT NULL,
	[Password] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[HospitalAdminUsers] ([UserName], [Password]) VALUES (N'Zrr9QZ+ecOk=', N'Zrr9QZ+ecOk=')
INSERT [dbo].[HospitalAdminUsers] ([UserName], [Password]) VALUES (N'2QqoAkhBE/k=', N'2QqoAkhBE/k=')
/****** Object:  Table [dbo].[Doctors]    Script Date: 03/04/2021 12:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Doctors](
	[BranchId] [varchar](20) NOT NULL,
	[DoctorID] [varchar](20) NOT NULL,
	[DoctorType] [varchar](20) NULL,
	[Name] [varchar](50) NULL,
	[Sex] [varchar](10) NULL,
	[DOB] [datetime] NULL,
	[EntryDate] [datetime] NULL,
	[Nationality] [varchar](50) NULL,
	[Occupation] [varchar](100) NULL,
	[AnnualIncome] [numeric](18, 2) NULL,
	[FatherName] [varchar](30) NULL,
	[VisitingFrom] [varchar](30) NULL,
	[VisitingTo] [varchar](30) NULL,
	[Street] [varchar](50) NULL,
	[Address] [varchar](200) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](30) NULL,
	[PinCode] [varchar](6) NULL,
	[Telephone] [varchar](20) NULL,
	[Fax] [varchar](20) NULL,
	[Mobile] [varchar](12) NULL,
	[EMailID] [varchar](50) NULL,
 CONSTRAINT [PK_Doctors] PRIMARY KEY CLUSTERED 
(
	[BranchId] ASC,
	[DoctorID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 03/04/2021 12:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Branch](
	[BranchName] [varchar](50) NOT NULL,
	[BranchId] [varchar](20) NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[Street] [varchar](50) NULL,
	[Address] [varchar](200) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](30) NULL,
	[PinCode] [varchar](6) NULL,
	[Telephone] [varchar](20) NULL,
	[Fax] [varchar](20) NULL,
	[Mobile] [varchar](12) NULL,
	[EMailID] [varchar](50) NULL,
 CONSTRAINT [PK_Branch] PRIMARY KEY CLUSTERED 
(
	[BranchId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Branch] ([BranchName], [BranchId], [EntryDate], [Street], [Address], [City], [State], [PinCode], [Telephone], [Fax], [Mobile], [EMailID]) VALUES (N'Erode', N'ERD', CAST(0x0000AC5100000000 AS DateTime), N'23, Mettur Road', N'Neat Telephone Bhavan', N'Erode', N'TN', N'638001', N'042423344556', N'042423344555', N'9842787675', N'erodehospitals1@gmail.com')
INSERT [dbo].[Branch] ([BranchName], [BranchId], [EntryDate], [Street], [Address], [City], [State], [PinCode], [Telephone], [Fax], [Mobile], [EMailID]) VALUES (N'Erode', N'ERDE', CAST(0x00009FF400000000 AS DateTime), N'23, Mettur Road', N'Neat Telephone Bhavan', N'Erode', N'TN', N'638001', N'042423344556', N'042423344555', N'9842787675', N'erodehospitals1@gmail.com')
INSERT [dbo].[Branch] ([BranchName], [BranchId], [EntryDate], [Street], [Address], [City], [State], [PinCode], [Telephone], [Fax], [Mobile], [EMailID]) VALUES (N'Perundurai', N'PRD', CAST(0x0000A03400000000 AS DateTime), N'45, Big St', N'Near Bus Stand', N'Perundurai', N'Tamilnadu', N'638101', N'423434', N'433444', N'9898767654', N'perunduraihospitals@gmail.com')
/****** Object:  Table [dbo].[AppointmentTrans]    Script Date: 03/04/2021 12:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AppointmentTrans](
	[SNo] [int] IDENTITY(1,1) NOT NULL,
	[EncBranchId] [varchar](1024) NULL,
	[EncPatientId] [varchar](1024) NOT NULL,
	[EncDateOFAppointment] [varchar](1024) NULL,
	[EncDisease] [varchar](1024) NULL,
	[EncTreatment] [varchar](1024) NULL,
	[EncDateTime] [varchar](1024) NULL,
	[EncDoctor] [varchar](1024) NULL,
	[EncPlace] [varchar](1024) NULL,
 CONSTRAINT [PK_AppointmentTrans] PRIMARY KEY CLUSTERED 
(
	[SNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AppointmentTrans] ON
INSERT [dbo].[AppointmentTrans] ([SNo], [EncBranchId], [EncPatientId], [EncDateOFAppointment], [EncDisease], [EncTreatment], [EncDateTime], [EncDoctor], [EncPlace]) VALUES (2, N'R92a1xA5hys=', N'zPtoafibR8s=', N'3JFk5ed4Y5JhSHu7Vt5xzCm+ntFGvjYV', N'6ypD9m260LQ=', N'/iOkVfFi/UKFMFVXdmULag==', N'N3FSlWfti8Wt2h7W6HVYwg==', N'V7VMZ8TTODAHoGVTvwd+fQ==', N'dn0X0aJ1sUs=')
INSERT [dbo].[AppointmentTrans] ([SNo], [EncBranchId], [EncPatientId], [EncDateOFAppointment], [EncDisease], [EncTreatment], [EncDateTime], [EncDoctor], [EncPlace]) VALUES (3, N'R92a1xA5hys=', N'49yq9cZx0b8=', N'3JFk5ed4Y5JhSHu7Vt5xzCm+ntFGvjYV', N'6ypD9m260LQ=', N'/iOkVfFi/UKFMFVXdmULag==', N'nw5YdWwOHA65I2AialrrDA==', N'V7VMZ8TTODAHoGVTvwd+fQ==', N'dn0X0aJ1sUs=')
INSERT [dbo].[AppointmentTrans] ([SNo], [EncBranchId], [EncPatientId], [EncDateOFAppointment], [EncDisease], [EncTreatment], [EncDateTime], [EncDoctor], [EncPlace]) VALUES (4, N'R92a1xA5hys=', N'IOyhW2q3Pp0=', N'3JFk5ed4Y5JhSHu7Vt5xzCm+ntFGvjYV', N'6ypD9m260LQ=', N'/iOkVfFi/UKFMFVXdmULag==', N'ECmpWma3CNBvrSOmfpfrXg==', N'V7VMZ8TTODAHoGVTvwd+fQ==', N'dn0X0aJ1sUs=')
SET IDENTITY_INSERT [dbo].[AppointmentTrans] OFF
/****** Object:  Table [dbo].[AggregateAmount]    Script Date: 03/04/2021 12:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AggregateAmount](
	[SNo] [int] IDENTITY(1,1) NOT NULL,
	[DateOfTransaction] [datetime] NULL,
	[Amount] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_AggregateAmount] PRIMARY KEY CLUSTERED 
(
	[SNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AggregateAmount] ON
INSERT [dbo].[AggregateAmount] ([SNo], [DateOfTransaction], [Amount]) VALUES (1, CAST(0x00009F5E00000000 AS DateTime), CAST(500.00 AS Numeric(18, 2)))
INSERT [dbo].[AggregateAmount] ([SNo], [DateOfTransaction], [Amount]) VALUES (2, CAST(0x00009F5E00000000 AS DateTime), CAST(1000.00 AS Numeric(18, 2)))
INSERT [dbo].[AggregateAmount] ([SNo], [DateOfTransaction], [Amount]) VALUES (3, CAST(0x00009F5F00000000 AS DateTime), CAST(500.00 AS Numeric(18, 2)))
SET IDENTITY_INSERT [dbo].[AggregateAmount] OFF
